

:root {
  --main-bg-color: #142786;
  --main-bg-color2: #0630A6;
}

html {
  font-family: Source Han Sans CN;
  color: #fff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

select, input {
  color: #fff;
}